*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    background: $bg-body-color;
    font-family: $font-type;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    border: none;
}

a,
button,
.num{
    cursor: pointer;
}