//esta clase es el elemento base que será utilizado para comparar los otros elementos
.base-figure-activity{
    align-self: flex-end;
    height: 100%;
}

.base-figure-lection{
    align-self: flex-end;
    height:80%;
}