
.cloud{
    position: absolute;
    top: 22vh;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;

        &-first{
            width: 30vmin;
            left: 10px;
            animation-name: movingCloud;
        }

        &-second{
            width: 30vmin;
            right: 20px;
            animation-name: movingCloud;
        }

        &-third{
            width: 20vmin;
            right: 40px;
            top:350px;
            animation-name: movingCloud;
        }
        &-quarter{
            width: 120px;
            height: 80px;
            left: 10px;
            animation-name: movingCloud;
        }
        &-fifth{
            width: 120px;
            height: 80px;
            right: 40px;
            animation-name: movingCloud;
        }
} 


@keyframes movingCloud {
      0% {
          transform: translate(10%,0);
      }
    
      100% {
          transform: translate(-25%,0);
      }
}

.sun{
    position: absolute;
    top:50px;
    width: 150px;
    height: 150px;
    z-index: -1;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-name: semiRotate;
}

@keyframes semiRotate {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-15deg); }
    100% { transform: rotate(0deg); }
}
